.signIn {
  width: 100%;
  height: 100%;
  background-image: url(./deliverybw.jpg);
  background-size: cover;
  display: grid;
  justify-items: center;
  grid-template-rows: 150px 1fr 0.5fr 1fr;
}

.signIn__logo {
  grid-row: 2/3;
  width: 200px;
  height: 110px;
  filter: grayscale(100);
}

.signIn__button {
  width: 100%;
  height: 50px;
  background: HSL(25, 99%, 55%);
  border: none;
  grid-row: 3/4;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease all;
  outline: none;
}

.signIn__button:hover {
  filter: brightness(0.8);
}

.signIn__create-text {
  color: #fff;
  grid-row: 4/-1;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

/* form */

.signIn__form {
  display: grid;
  grid-row: 4/-1;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  background: #fff;
  align-items: center;
}

.signIn__form-input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 0.94rem;
  height: 100%;
}
.sign__form-input:focus {
  outline: none;
}

input:focus:invalid {
  outline: none;
}

.signIn__form-input::placeholder {
  text-transform: capitalize;
}

.signIn__checkbox-container {
  border-bottom: 1px solid #ccc;
  height: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  justify-items: left;
  padding-left: 10px;
}

.signIn__form-para {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  font-size: 0.9rem;
  color: HSL(25, 99%, 55%);
  text-transform: uppercase;
}

.signIn__form-button {
  width: 100%;
  height: 50px;
  background: HSL(25, 99%, 55%);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease all;
  outline: none;
  grid-row: 5/-1;
}
