.signIn__form {
  display: grid;
  grid-row: 3/-1;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  background: #fff;
  align-items: center;
}

.signIn__form-input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 0.94rem;
  height: 100%;
}
.sign__form-input:focus {
  outline: none;
}

input:focus:invalid {
  outline: none;
}

.signIn__form-input::placeholder {
  text-transform: capitalize;
}

.signIn__checkbox-container {
  border-bottom: 1px solid #ccc;
  height: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  justify-items: left;
  padding-left: 10px;
}

.signIn__form-para {
  margin: 0;
  padding: 0;
  grid-row: 4/5;
  font-size: 0.9rem;
  color: HSL(25, 99%, 55%);
  text-transform: uppercase;
}

.signIn__form-button {
  width: 100%;
  height: 50px;
  background: HSL(25, 99%, 55%);
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease all;
  outline: none;
  grid-row: 5/-1;
}
